* @Chipppppppppp @s1204IT

/app/src/main/java/** @Chipppppppppp
/app/src/main/res/drawable/* @Chipppppppppp
/app/src/main/res/mipmap-*/* @Chipppppppppp
/app/src/main/ic_launcher-playstore.png @Chipppppppppp
